extends ../main.layout.pug

block variables
  - var title = 'Личная страничка Бендера Родригеса'

block content
  section.section.hero
    .hero__links-hamburger
      .hero__links
        ul.socials
          -
            var socials = [
              ['', 'http://vk.com/id15292604'],
              ['', 'https://github.com/aspershin'],
              ['', 'https://www.facebook.com/andrey.pershin.501'],
              ['', 'https://www.instagram.com/andreiser25']
            ]
          each item in socials
            li.socials__item
              a(href=`${item[1]}` target="_blank").socials__link #{item[0]}
      a(href="#").hero__menu
        ul.hamburger
          li.hamburger__item
          li.hamburger__item
          li.hamburger__item
    .hero__title  
      .section-title
        img.section-title__img
      .user.hero__user
        .user__description
          .user__name Блог
          .user__desc Заметки Бендера Родригеса
          a(href="#").arrow-down
          //- .hero__scroll-button
  section.triangles
    svg(viewbox="0 0 1800 200" width="1800" height="200" preserveaspectratio="none").triangles-svg
      polygon(points="0,0 0,201 900.8,201 900.8,190.5").svg-rect-left.svg-rect-left-blog
      polygon(points="1800,0 1800,201 900,201 900,190.5").svg-rect-right.svg-rect-left-blog
  section.section-blog
    .section-blog__left
      .section-blog__left-links
        ul
          li
            a(href="").section-blog__left-link Самое важное в SASS
          li
            a(href="").section-blog__left-link Приёмы в вёрстке, без которых не обходится ни один сайт
          li
            a(href="").section-blog__left-link Самый необходимый набор Gulp-плагинов
          li
            a(href="").section-blog__left-link Почему я выбрал Pug
    .section-blog__right
      .blog__right-article
        .blog__right-article-title <strong>Самое важное в SASS</strong>
        .blog__right-article-date 22 ноября 2016
        .blog__right-article-text
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
      .blog__right-article
        .blog__right-article-title <strong>Приёмы в вёрстке, без которых не обходится ни один сайт</strong>
        .blog__right-article-date 13 ноября 2016
        .blog__right-article-text
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
  footer.footer
    .footer__row.footer__row--left
      .text-content
        p Этот сайт я сделал в рамках обучения в Школе онлайн-образования <strong>LoftSchool</strong>.
    .footer__row.footer__row--middle
      .footer__col.footer__col--high
        nav.menu
          ul.menu__list
            -
              var links = [
                ['Мои работы', 'works'],
                ['Обо мне', 'about'],
                ['Блог', 'blog'],
                ['Авторизация', 'login'],
                ['Добро пожаловать', 'welcome']
              ]
            each item in links
              li.menu__item
                a(href=`${item[1]}`).menu__link #{item[0]}
      .footer__col.footer__col--low
        ul.socials.socials--rounded
          each item in socials
            li.socials__item
              a(href=`${item[1]}`).socials__link #{item[0]}
    .footer__row.footer__row--right
      .footer__col.footer__col--left
        .text-content
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, voluptatum!
      .footer__col.footer__col--right
        .text-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolor?