extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block content
  section.section.hero
    .hero__links-hamburger
      .hero__links
        ul.socials
          -
            var socials = [
              ['', 'http://vk.com/id15292604'],
              ['', 'https://github.com/aspershin'],
              ['', 'https://www.facebook.com/andrey.pershin.501'],
              ['', 'https://www.instagram.com/andreiser25']
            ]
          each item in socials
            li.socials__item
              a(href=`${item[1]}` target="_blank").socials__link #{item[0]}
      a(href="#").hero__menu
        ul.hamburger
          li.hamburger__item
          li.hamburger__item
          li.hamburger__item
    .hero__title  
      .section-title
        img.section-title__img
      .user.hero__user
        .user__description
          .user__name Бендер Родригес
          .user__desc Личный сайт
  section.triangles.triangles--works
    svg(viewbox="0 0 1800 400" width="1800" height="400" preserveaspectratio="none").triangles-svg
      polygon(points="0,0 0,201 900.8,201 900.8,100.5").svg-rect-left.svg-rect-left--works
      polygon(points="1800,0 1800,201 900,201 900,100.5").svg-rect-right.svg-rect-right--works
      text(x="800" y="155").triangles-text Мои работы
  section.section.about
    .about__left.about__left--works
      .block-subtitle.block-subtitle-works.block-subtitle-works--active
        p Сайт авиакомпании AIRPLANET
      .block-subtitle.block-subtitle-works
        p Сайт Фитнес
      .block-subtitle.block-subtitle-works
        p Сайт Бургер
      .block-subtitle.block-subtitle-works
        p Сайт Коворкинг
      .block-subtitle-small.block-subtitle-small-work.block-subtitle-small--active
        p Комфорт, сервис, доступность
      .block-subtitle-small.block-subtitle-small-work
        p Фитнес, Фитнес, Фитнес
      .block-subtitle-small.block-subtitle-small-work
        p Бургер, Бургер, Бургер
      .block-subtitle-small.block-subtitle-small-work
        p Коворкинг, Коворкинг, Суперковоркинг
      a(href="#").about__right-button
        .about__right-button-img
        .about__right-button-link Посмотреть сайт
    .about__right.about__right--works
      .slider-up
        .slider-up-img
          img(src="/images/content/work-1.png", alt="work").slider-up-pic.slider-up-pic--active
          img(src="/images/content/work-2.png", alt="work").slider-up-pic
          img(src="/images/content/work-3.png", alt="work").slider-up-pic
          img(src="/images/content/work-4.png", alt="work").slider-up-pic
      .slider-low
        .slider-low-left
          .slider-low-left-list
            img(src="/images/content/work-1.png", alt="work").slider-low-pic.slider-low-pic--active
            img(src="/images/content/work-2.png", alt="work").slider-low-pic
            img(src="/images/content/work-3.png", alt="work").slider-low-pic
            img(src="/images/content/work-4.png", alt="work").slider-low-pic
          .slider-low-left-wrap
          a(href="#").slider-arrow-link.slider-arrow-link--low
            .slider-arrow.slider-arrow--low
        .slider-low-right
          .slider-low-left-list
            img(src="/images/content/work-1.png", alt="work").slider-low-pic.slider-low-pic--active
            img(src="/images/content/work-2.png", alt="work").slider-low-pic
            img(src="/images/content/work-3.png", alt="work").slider-low-pic
            img(src="/images/content/work-4.png", alt="work").slider-low-pic
          .slider-low-right-wrap
          a(href="#").slider-arrow-link.slider-arrow-link--up
            .slider-arrow.slider-arrow--up
            a(href="#")
            link(rel="stylesheet", href="#")
  section.section-works
    .form-title.form-title--works Что обо мне говорят
    .reviews
      .reviews-left
        .reviews__img
          img(src="/images/content/fry.png", alt="photo").reviews__img-pic
        .reviews__text
          p Бендер - мой лучший друг. Он преданный. С ним всегда весело. У него очень необычное чувство юмора для робота.
        .reviews__name
          p <strong>Фиилип Джей Фрай</strong>
          p - Исполнительный курьер Planet Express
      .reviews-right
        .reviews__img
          img(src="/images/content/Leela.jpg", alt="photo").reviews__img-pic
        .reviews__text
          p Очень невоспитанный робот. Такого экземпляра не встречала нигде во Вселенной.
        .reviews__name
          p <strong>Туранга Лила</strong>
          p - Капитан космического корабля Planet Express
    form(action="").form.works-form
      .form-upper.form-upper-works
        .form-title.form-title-works
          p Связаться со мной
          p -----
        .form-input.form-input--works
          .form-input__login.form-input__login--works
            input(type="text" placeholder="Ваше имя").form-input__text.form-input__text--works
          .form-input__login
            input(type="text" placeholder="Ваш e-mail").form-input__text.form-input__text--works
          .form-input__textarea
            textarea(name="works-textarea", cols="30", rows="10" placeholder="Ваше сообщение").form-input__textarea-text
      .form-low.form-low-works
        .form-low-left.form-low-left--works
          button(type="submit").form-button.form-button--works Отправить
        .form-low-right
          button(type="submit").form-button.form-button--works Очистить
    a(href="#").works-arrow-link
      .works-arrow-img
  footer.footer
    .footer__row.footer__row--left
      .text-content
        p Этот сайт я сделал в рамках обучения в Школе онлайн-образования <strong>LoftSchool</strong>.
    .footer__row.footer__row--middle
      .footer__col.footer__col--high
        nav.menu
          ul.menu__list
            -
              var links = [
                ['Мои работы', 'works'],
                ['Обо мне', 'about'],
                ['Блог', 'blog'],
                ['Авторизация', 'login'],
                ['Добро пожаловать', 'welcome']
              ]
            each item in links
              li.menu__item
                a(href=`${item[1]}`).menu__link #{item[0]}
      .footer__col.footer__col--low
        ul.socials.socials--rounded
          each item in socials
            li.socials__item
              a(href=`${item[1]}`).socials__link #{item[0]}
    .footer__row.footer__row--right
      .footer__col.footer__col--left
        .text-content
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, voluptatum!
      .footer__col.footer__col--right
        .text-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolor?